@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background: #ffffff;
  -webkit-transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
